name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
 test-example-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install C++ dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++ build-essential

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create test image
        run: |
           python3 -c "import cv2, numpy as np; cv2.imwrite('test.jpg', np.random.randint(0,255,(100,100,3),dtype=np.uint8))"

      - name: Test Quick Start (Image Preprocessing)
        run: |
          python3 src/cli/main.py -i examples/vision/image_preprocessing.py --test-input test.jpg

      - name: Test Pipeline Mode (MNIST)
        run: |
          python3 src/cli/main.py -i examples/vision/mnist_inference.py --pipeline --test-input test.jpg
